name: Build binary

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'
      - uses: actions/cache@v4
        with:
          path: "/home/runner/.konan"
          key: ${{ runner.os }}-${{ hashFiles('**/build.gradle.kts') }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew commonBinaries
      - name: Move and apply correct permissions to binary
        run: |
          cp build/bin/common/releaseExecutable/changelog-cli.kexe ./changelog-cli
          chmod +x ./changelog-cli
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: changelog-cli
          path: changelog-cli
  change-log:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download a single artifact
        uses: actions/download-artifact@v4
        with:
          name: changelog-cli
      - name: Give artifact correct permissions
        run: chmod +x ./changelog-cli
      - name: Run changelog
        id: changelog
        run: ./changelog-cli
        env:
          CHANGELOG_SERVICE_NAME: "Changelog Generator"
          CHANGELOG_GITHUB_RELEASE: true
          CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG_JIRA_APP_NAME: "montaapp"
          CHANGELOG_VERSION_MODE: "SemVer"
          CHANGELOG_OUTPUT: "slack"
          CHANGELOG_SLACK_TOKEN: ${{ secrets.SLACK_APP_TOKEN }}
          CHANGELOG_SLACK_CHANNEL_NAME: "#releases"
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: changelog-cli
          asset_name: changelog-cli
          tag: ${{ github.ref }}
          overwrite: true