name: Pull Request Workflow

on: [ pull_request ]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew allTests
  static-code-analysis:
    name: Static Code Analysis
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 30
    steps:
      - name: Run detekt
        uses: monta-app/detekt-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
