name: Pull Request Workflow

on: [ pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - uses: actions/cache@v5
        with:
          path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
          key: ${{ runner.os }}-${{github.ref_name}}-${{ hashFiles('**/build.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-${{github.ref_name}}-${{ hashFiles('**/build.gradle.kts') }}
            ${{ runner.os }}-${{github.ref_name}}
            ${{ runner.os }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew allTests
      - name: Check directories to cache
        run: |
          pwd
          ls -la /home/runner/.konan
          ls -la ~/.gradle/caches
          ls -la ~/.gradle/wrapper
  static-code-analysis:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Run detekt
        uses: monta-app/detekt-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
